*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 15px;
    background-color: #111111;
}

body, div.container{
    width: 100%
}

div.container{
    background-color: #202020;
}

h1{
    color: #f0f8ff;
}

.link i{
    color: #f0f8ff;
}